.hero {
    background-color: var(--clr-neutral-400);
    outline: 1px solid var(--clr-outline-hero);
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
